@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

body{
  background-color: #485460;
}

.menu-bar {
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  background-color: rgba(0, 0, 0, .4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: 0 10px;
}
.menu-bar li {
  list-style: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}
.menu-bar li::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: 0.2s;
  border-radius: 25px;
}
.menu-bar li:hover {
  color: black;
}
.menu-bar li:hover::before {
  background: linear-gradient(to bottom, #e8edec, #d2d1d3);
  box-shadow: 0px 3px 20px 0px black;
  transform: scale(1.2);
}

.card-portfolio{
  background-color: white;
  color: black;
  font-family: 'PT Sans Caption', sans-serif;
  border-radius: 20px;
  padding: 25px 10px;
  margin-bottom: 20px;
  box-shadow: 0 0px 80px rgba(0, 0, 0, 0.2), 0px 0px 120px rgba(0, 0, 0, 0.2);
}

.card-portfolio:hover{
  box-shadow: 0 20px 120px rgba(0, 0, 0, 0.2), 0px 0px 150px rgba(0, 0, 0, 0.2);
}

.movie-carousel{
  height: 350px;
  color: white;
  line-height: 600px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90% 100%;
}